<div>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				{{#linkTo "index" classNames="brand"}}Ember Bookmarks{{/linkTo}}
				<ul class="nav">
					{{#view App.NavbarItemView}}
						{{#linkTo "bookmarks"}}Links{{/linkTo}}
					{{/view}}
				</ul>
			</div>
		</div>
	</div>
	<div class="container" id="main">
		<div class="row">
			{{outlet}}
		</div>
	</div>
</div>

{{outlet modal}}

<a href="https://github.com/florentb/ember-bookmarks"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>