<div class="hero-unit">
	<h1>Ember Bookmarks !</h1>
	<p>A personnal bookmarks manager app built with <strong><a href="http://emberjs.com">Ember.js</a></strong>.</p>
	<p>{{#linkTo "bookmarks" classNames="btn btn-primary btn-large"}}Browse your Links{{/linkTo}}</p>
</div>
<div>
	<h3>What's this ?</h3>
	<p>The goal of this project is to mimic popular bookmarks managers like Google Bookmarks or Delicious.</p>
	<div class="alert alert-block">This app as an <strong>experimentation playground</strong> designed to practice <strong>Ember.js framework</strong> and see how it integrates with other web components.</div>
	<h3>Quick start</h3>
	<p>As <strong><a href="https://github.com/yeoman/generator-ember">Ember.js Generator</a></strong> is used for the workflow, make sure <a href="http://yeoman.io/"><strong>Yeoman</strong></a> is installed (witch means you also have installed Node.js, Git, Ruby and Compass).</p>
	<ul>
		<li>Clone the repo: <code>git clone git://github.com/florentb/ember-bookmarks</code></li>
		<li>Install NPM modules: <code>npm install</code></li>
		<li>Install Bower components: <code>bower install</code></li>
		<li>Launch the App: <code>grunt server</code></li>
	</ul>
	<h3>Ember tools</h3>
	<ul>
		<li><strong><a href="https://github.com/yeoman/generator-ember">Yeoman generator</a></strong> for the scaffolding</li>
		<li><strong><a href="https://github.com/emberjs/data">Ember Data</a></strong> and Ryan Florence <strong><a href="https://github.com/rpflorence/ember-localstorage-adapter">localStorage adapter</a></strong> for loading data from a persistence layer</li>
		<li><strong><a href="https://github.com/twbs/bootstrap">Bootstrap</a></strong> integration with the help of <strong><a href="https://github.com/emberjs-addons/ember-bootstrap">Ember Bootstrap</a></strong></li>
	</ul>
	<h3>Copyright and license</h3>
	<p>Copyright 2013 Florent Bourgeois under MIT License.</p>
</div>